*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

body {
  border: 2px solid red;
  display: grid;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.copyright {
  background-color: red;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.copyright > a {
  color: green;
}

.game-screen {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
}

.player {
  align-items: center;
  border: 1px solid green;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1vh;
  height: 100vh;
  justify-content: center;
}

.player__board {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: repeat(10, minmax(10px, 40px));
  grid-template-rows: repeat(10, minmax(10px, 40px));
  justify-content: center;
}

.player__board > div {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

.player__name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

.ship {
  background-color: lightgreen;
}

.ship--active {
}

.ship--hit {
}

.ship--sunk {
}
