@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;

  --color-background: #ffffff;
  --color-stroke: #1f1235;
  --color-headline: #1b1425;
  --color-highlight: #ff626c;
  --color-secondary: #67568c;
  --color-ternary: #fbdd74;
}

body {
  background-color: var(--color-secondary);
  display: grid;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.copyright {
  background-color: var(--color-ternary);
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.copyright > a {
  color: green;
}

.screen {
  justify-content: center;
  align-items: center;
}

.screen--start,
.screen--end {
  background-color: var(--color-ternary);
  border-radius: 20px;
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 5%;
  height: 60vh;
  justify-self: center;
  width: clamp(700px, 50vw, 60vw);
}

.screen--start {
}

.screen--game {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.player {
  align-items: center;
  border: 1px solid green;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1vh;
  height: 100vh;
  justify-content: center;
}

.player__board {
  border: 2px solid blue;
  display: grid;
  grid-template-columns: repeat(10, minmax(10px, 40px));
  grid-template-rows: repeat(10, minmax(10px, 40px));
  justify-content: center;
}

.player__board > div {
  border: 1px solid black;
}

.player__name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}

.ship {
  background-color: rgba(100, 23, 250, 0.2);
}

.shot--miss {
  background-color: red;
}

.shot--hit {
  background-color: green;
}
